<h1>Listing item_ingredients</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_ingredients.each do |item_ingredient| %>
  <tr>
    <td><%= item_ingredient.item.name %></td>
    <td><%= item_ingredient.ingredient.name %></td>
    <td><%= link_to 'Show', item_ingredient %></td>
    <td><%= link_to 'Edit', edit_item_ingredient_path(item_ingredient) %></td>
    <td><%= link_to 'Destroy', item_ingredient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item ingredient', new_item_ingredient_path %>
